# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov
document/

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
# 编译产物
gateway/gateway_test
rpc-user/rpc-user-test
*.test
*.out

# 日志文件
*.log

# 环境变量（如果还没加）
.env

# 编译的二进制文件
gateway/gateway
rpc-user/rpc-user
rpc-video/rpc-video-test
